body {
    background-color: silver;
    display: flex;
    justify-content: center;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
}

.content {
    width: 1920px;
    background-color: white;
}

.contacts {
    width: 1460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-wrapper {
    display: flex;
    justify-content: center;
}

.logo {
    padding: 18px 35px 7px;
    border-left: 1px solid rgba(196, 196, 196, 0.5);
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    
}

.number {
    padding: 36px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    color: #000000;
    
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
}

.salon {
    padding: 29px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    color: #000000;
    
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
    display: flex;
    align-items: center;
}

.salon p {
    margin-right: 15px;
}

#imgsalon {
    display: inline;
}

 #img {
    width: 27px;
 }

 .version {
    padding: 29px 30px 26px;
   
 }

 .header_eye_button {
    color: white;
    background: #00868A;
    padding: 10px 15px 8px;
    display: flex;
    align-items: center; 
    border: 1px solid #00868A;
 }

 .header_eye_image {
    width: 25px;
    height: 17px;
    margin-right: 10px;
    display: inline-block;
    background-image: url('../images/simple-line-icons_eye.png') ;
    background-size: contain;
    background-repeat: no-repeat;
 }

 .vk-link {
    padding: 29px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    border-left: 1px solid rgba(196, 196, 196, 0.5);
 }

 .vk_img {
    width: 24px;
    height: 25px;
    background-image: url('../images/vk.png');
    background-size: contain;
    background-repeat: no-repeat;
 }

 .youtube-link {
    padding: 29px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
 }

 .you_img {
    width: 24px;
    height: 25px;
    background-image: url('../images/youtube.png');
    background-size: contain;
    background-repeat: no-repeat;
 }

 .facebook-link {
    padding: 29px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
 }
 
 .face_img {
    width: 24px;
    height: 25px;
    background-image: url('../images/facebook.png');
    background-size: contain;
    background-repeat: no-repeat;
}
 
 .instagramm-link {
    padding: 29px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
}

 .insta_img {
    width: 24px;
    height: 25px;
    background-image: url('../images/instagram.png');
    background-size: contain;
    background-repeat: no-repeat;
}

 .header-info {
     width: 1296px;
     height: 700px;
     background: #4FBFA5;
     padding: 0 312px;
}

 .top-menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.menu {
    height: 85px;
    color: white;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

 .cosmo {
    padding: 0 30px;
}


 .plast {
    padding: 0 30px;
} 

 .stomat{
    padding: 0 30px;
}

 
 .laz {
    padding: 0 30px;
}

 .cont {
    padding: 0 30px;
}

 .zapis {
    
    color: black;
}

.button_zapis {
    font-size: 19px;
    padding: 9px 15px 10px;
    border: 1px solid #FFFFFF;
}

.gallery{
    display: flex;
    justify-content: center;
}

.cosmo_2 {
    font-size: 40px;
    
    color: white;
    align-self: center;
    padding-right: 126px;
}

.cosmo_img{
    background-image: url('../images/Rectangle\ 7.png');
    height: 533px;
    width: 746px;   
}

.text_gallery {
    font-size: 18px;
}

.p_1{
    margin-top: 30px;
    margin-bottom: 7px;
}

.p_2{
    margin-bottom: 7px;
}

.p_3{
    margin-bottom: 7px;
}

.button_podrobno {
    font-size: 19px;
    padding: 9px 15px 10px;
    margin-top: 35px;
    color: white;
    background: #00868A;
    border: 1px solid #00868A;
    
}

.strelki {
    flex-direction: row;
    display: flex;
    position: absolute;
    margin-left: 498px;
    margin-top: 49px;
}

.left {
    background: #4FBFA5;
    border: 1px solid #FFFFFF;
    font-size: 35px;
    padding: 4px 12px;
    color: white;
}

.right {
    background: #4FBFA5;
    border: 1px solid #FFFFFF;
    font-size: 35px;
    padding: 4px 12px;
    color: white;
    margin-left: -2px;
}

.left:after {
    content: '\2190' ;
}

.right:after {
    content: '\2192'
}

.sub_menu {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.button_komplex {
    color: white;
    background: #00868A;
    border: 1px solid #00868A;
    
    font-size: 21px;
    padding: 26px 245px;
}

.button_zentr {
    color: white;
    background: #4FBFA5;
    border: 1px solid #4FBFA5;
    
    font-size: 21px;
    padding: 26px 87px;
}

.button_vip {
    color: white;
    background: #00868A;
    border: 1px solid #00868A;
    
    font-size: 21px;
    padding: 26px 87px;
}