body {
    background-color: silver;
    display: flex;
    justify-content: center;
}

.content {
    width: 1920px;
    background-color: white;
}

.contacts {
    width: 1460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-wrapper {
    display: flex;
    justify-content: center;
}

.logo {
    padding: 18px 35px 7px;
    border-left: 1px solid rgba(196, 196, 196, 0.5);
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    
}

.number {
    padding: 36px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    color: #000000;
    font-family: Verdana;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
}

.salon {
    padding: 29px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    color: #000000;
    font-family: Verdana;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
    display: flex;
    align-items: center;
}

.salon p {
    margin-right: 15px;
}

#imgsalon {
    display: inline;
}

 #img {
    width: 27px;
 }

 .version {
    padding: 29px 30px 26px;
   
 }

 .header_eye_button {
    color: white;
    background: #00868A;
    padding: 10px 15px 8px;
    display: flex;
    align-items: center; 
 }

 .header_eye_image {
    width: 25px;
    height: 17px;
    margin-right: 10px;
    display: inline-block;
    background-image: url('../images/simple-line-icons_eye.png') ;
    background-size: contain;
    background-repeat: no-repeat;
 }

 .vk-link {
    padding: 29px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    border-left: 1px solid rgba(196, 196, 196, 0.5);
 }

 .vk_img {
    width: 24px;
    height: 25px;
    background-image: url('../images/vk.png');
    background-size: contain;
    background-repeat: no-repeat;
 }

 .youtube-link {
    padding: 29px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
 }

 .you_img {
    width: 24px;
    height: 25px;
    background-image: url('../images/youtube.png');
    background-size: contain;
    background-repeat: no-repeat;
 }

 .facebook-link {
    padding: 29px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
 }
 
 .face_img {
    width: 24px;
    height: 25px;
    background-image: url('../images/facebook.png');
    background-size: contain;
    background-repeat: no-repeat;
 }
 
 .instagramm-link {
    padding: 29px 30px 26px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
 }

 .insta_img {
    width: 24px;
    height: 25px;
    background-image: url('../images/instagram.png');
    background-size: contain;
    background-repeat: no-repeat;
 }

 .header-info {
     width: 1920px;
     height: 700px;
     background: #4FBFA5;
 }

.menu {
    height: 50px;
    color: white;
    font-size: 20px;
    font-family: verdana;
    display: flex;
}

 .cosmo {
    margin: 30px 65px 165px 310px;
 }

 .plast {
    margin: 30px 65px 255px -6px;
 }

 .stomat{
    margin: 30px 65px 30px -6px;
 }

 .laz {
    margin: 30px 65px 30px -6px;
 }

 .cont {
    margin: 30px 65px 30px -6px;
 }

 .zapis {
    margin: 21px 65px 30px -6px;
    color: black;
 }

.button_zapis {
    font-size: 19px;
    padding: 9px 15px 10px;
}


.gallery_img {
    width: 746px;
    height: 533px;
    background-image: url('../images/Rectangle\ 7.png');
    margin: 40px 844px 0px
}

.cosmo_h1 {
    font-size: 48px;
    font-family: verdana;
    color: white;
}






